
{snippet modalContent}
    <div>
        {control form}
    </div>
    <script>
        alert('a');
        element = document.querySelector('.modal');
        element.style.display = 'block';
    </script>
{/snippet}
